<!DOCTYPE html>
{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<html>
<head>
<title>Idumota Market</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="C:/Gocode/src/github.com/golang-book/bootcamp-examples/GoBootcamp/website/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="C:/Gocode/src/github.com/golang-book/bootcamp-examples/GoBootcamp/website/bundle?v=GTFxe1hrJLKC1Zu9N-YpyErNa8nnKt_gj6pGIOOgvv01" rel="stylesheet">
 
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="mini-navbar">
<div class="container">
<div class="col-sm-12">
<a href="mailto:contact@resoledge.com" class="first-child"><i class="fa fa-envelope"></i> Email<span class="hidden-sm">: contact@resoledge.com</span></a>
<span class="phone">
<i class="fa fa-phone-square"></i> Tel: +2349086790286, +2349086790287
</span>
</div>
</div>
</div>

<header class="container">     
 <div class="row">
   <h1 class="col-sm-3">Idumota</h1>
   
   <nav  class="col-sm-3 text-left">
      <p id="home"><a href="/">Home</a></p>
      <p id="home"><a href="/shops">Shops</a></p>
      {{if .AuthEnabled}}
      {{if .Profile}}
        <p id="home"><a href="/shops/mine">My Shops</a></p>
      {{end}}
      {{end}}
    </nav>
  
    <div class="col-sm-3">
          <form >
         <input type="text" name="search" placeholder="Search..">
       </form>
       </div>
    <div class="col-sm-3 text-right">
        <!-- [START auth] -->
    {{if .AuthEnabled}}
      {{if .Profile}}
      <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
        <button class="btn btn-default">Log out</button>
      </form>
      <div class="navbar-text navbar-right">
        {{if .Profile.Image.Url}}
          <img class="img-circle" width="24" src="{{.Profile.Image.Url}}">
        {{end}}
        <span>{{.Profile.DisplayName}}</span>
      </div>
      {{else}}
      <p id="log"><a  href="{{.LoginURL}}">Log in</a></p>
       <p id="log"><a  href="{{.LoginURL}}">Sign up</a></p>
        
      
      {{end}}
    {{end}}
    <!-- [END auth] -->
    </div>
  </div>
</header>


  {{template "body" .Data}}

    <section class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h2>Fashion</h2>
             <ul>
            <li><a id="cat" href="/shops/category/cosmetics">Cosmetics</a></li>
            <li><a id="cat" href="/shops/category/clothing">Clothing</a></li>
            <li><a id="cat" href="/shops/category/shoes">Shoes</a></li>
            <li><a id="cat" href="/shops/category/bags">Bags</a></li>
            <li><a id="cat" href="/shops/category/jeweries">Jeweries</a></li>
        </ul>
          </div>
              <div class="col-sm-3">
			       <h2>Home & Kitchen</h2>   
			         <ul>
            <li><a id="cat" href="/shops/category/household">Household Utensils</a></li>
            <li><a id="cat" href="/shops/category/beverages">Beverages</a></li>
            <li><a id="cat" href="/shops/category/provision">Provision</a></li>
            <li><a id="cat" href="/shops/category/cereals">Cereals</a></li>
            <li><a id="cat" href="/shops/category/wine">Wine</a></li>
        </ul>
			          
		      </div>
          <div class="col-sm-3">
			       <h2>Baby, Kids & Toys</h2>
			        <ul>
            <li><a  id="cat" href="/Home/Features">Features</a></li>
            <li><a  id="cat" href="/Home/Pricing">Pricing</a></li>
            <li><a  id="cat" href="/Home/Why">Why Resgrid?</a></li>
            <li><a  id="cat" href="/Home/About">About</a></li>
            <li><a  id="cat" href="/Home/Contact">Contact</a></li>
        </ul>
			        
		      </div>
		    <div class="col-sm-3"><iframe height="200" frameborder="0"        style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q=idumota+lagos+nigeria&key= AIzaSyDGJprtqkbC8GfjSRtRS89gFOjxaPY-NUs" allowfullscreen></iframe> </div>
      </div>
    </div>
  </div>
  </section>

</body>
</html>
