<!DOCTYPE html>
{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<html>
<head>
<title>Shopplace - Go on Google Cloud Platform</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Shopplace</div>
    </div>
  </div>
</div>
<section class="jumbotron">
<div class="container">
  <div class="row text-center">
    <h2>Idumota Market</h2>
    <h3>Your one stop market in Nija</h3>
    <a class="btn btn-primary" href="#" role="button">See all</a>
    </div>
  </div>
</section>
<section class="container">
<div class="container">
  {{template "body" .Data}}
</div>
</body>
</html>
