
<section class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>Idumota Market</h1>
      <p>Save all that hustles and visit Idumota Market here online</p>
      <a class="btn" href="/shops" role="button">Visit Now</a>
     </div>

    <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down"></i></a>

     </div>
 </section>

<!-- Supporting -->
 <section class="supporting">
    <div class="container">
       <div class="row">
         <div class="col-sm-3">
           <h2>Visit a Shop</h2>
           <p>So you loved Idumota market and you loved to shop stuffs at idumota market?
		  We have brought the market to your door step, now you can visit and see inside 
		  each store right there on your PC, Laptop, Tablet or smart phone</p>
      <a class="btn btn-success btn-sm" href="#">Visit Idumota</a>
          </div>
          <div class="col-sm-3">
            <h2>View products</h2>
            <p>A reliable environment to view and shop for products online from a known Market in Nigeria. Enjoy immersive experience shopping here click any of the categories link below to start shopping:</p>
            <a class="btn btn-success btn-sm" href="#">Visit Idumota</a>
         </div>
  		  <div class="col-sm-3">
            <h2>Showcase your shop</h2>
            <p>Do you have a shop in Idumota Market and seeking recognition now you can showcase your shop to millions of people via this platform. Let the world know what you have, add your shop on this platform</p>
            <a class="btn btn-success btn-sm" href="#">Add shop</a>
          </div>
	  	  <div class="col-sm-3">
          <h2>Showcase your products</h2>
          <p>Now you can Showcase and promote your products to millions of Nigeria on this platform</p>
          <a class="btn btn-success btn-sm" href="#">Add shop</a>
         </div>
         </div>
      </div>
  </section>

<!-- Feature -->
  <section class="feature">
          <div class="container">
            <h2>VISIT, BUY AND SELL.</h2>
         
        </div>
  </section>

  <section class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h2>Fashion</h2>
             <ul>
            <li><a id="cat" href="/Home/Features">Cosmetics</a></li>
            <li><a id="cat" href="/Home/Pricing">Clothing</a></li>
            <li><a id="cat" href="/Home/Why">Shoes</a></li>
            <li><a id="cat" href="/Home/About">Bags</a></li>
            <li><a id="cat" href="/Home/Contact">Jeweries</a></li>
        </ul>
          </div>
              <div class="col-sm-3">
			       <h2>Home & Kitchen</h2>   
			         <ul>
            <li><a id="cat" href="/Home/Features">Household Utensils</a></li>
            <li><a id="cat" href="/Home/Pricing">Beverages</a></li>
            <li><a id="cat" href="/Home/Why">Provision</a></li>
            <li><a id="cat" href="/Home/About">Cereals</a></li>
            <li><a id="cat" href="/Home/Contact">Wine</a></li>
        </ul>
			          
		      </div>
          <div class="col-sm-3">
			       <h2>Baby, Kids & Toys</h2>
			        <ul>
            <li><a  id="cat" href="/Home/Features">Features</a></li>
            <li><a  id="cat" href="/Home/Pricing">Pricing</a></li>
            <li><a  id="cat" href="/Home/Why">Why Resgrid?</a></li>
            <li><a  id="cat" href="/Home/About">About</a></li>
            <li><a  id="cat" href="/Home/Contact">Contact</a></li>
        </ul>
			        
		      </div>
		    <div class="col-sm-3"><iframe height="200" frameborder="0"        style="border:0"
          src="https://www.google.com/maps/embed/v1/place?q=idumota+lagos+nigeria&key= AIzaSyDGJprtqkbC8GfjSRtRS89gFOjxaPY-NUs" allowfullscreen></iframe> </div>
      </div>
    </div>
  </div>
  </section>

