
<section class="jumbotron">
<div class="container">
  <div class="row text-center">
    <h1>Idumota Market</h1>
    <p>Save all that hustles and visit Idumota Market here online</p>
    <a class="btn" href="/shops" role="button">Visit Now</a>
    </div>
  </div>
</section>

<!-- Supporting -->
<div class="supporting">
    <div class="container">
       <div class="row">
         <div class="col-sm-3">
           <h2>Visit a Shop</h2>
           <p>So you loved Idumota market and you loved to shop stuffs at idumota market?
		  We have brought the market to your door step, now you can visit and see inside 
		  each store right there on your PC, Laptop, Tablet or smart phone</p>
          </div>
          <div class="col-sm-3">
            <h2>View products</h2>
            <p>A reliable environment to view and shop for products online from a known Market in Nigeria</p>
         </div>
  		  <div class="col-sm-3">
            <h2>Showcase your shop</h2>
            <p>Do you have a shop in Idumota Market and seeking recognition now you can showcase your shop to millions of people via this platform</p>
          </div>
	  	  <div class="col-sm-3">
          <h2>Showcase your products</h2>
          <p>Now you can Showcase and promote your products to millions of Nigeria on this platform</p>
         </div>
         </div>
      </div>
    </div>

<!-- Feature -->
    <div class="feature">
      <div class="container">
            <h2>VISIT, BUY AND SELL.</h2>
          </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="row">
          <div class="col-sm-3"></div>
              <div class="col-sm-3">
			          <h2>VISIT MARKET</h2>
			          <p>Enjoy immersive experience shopping here click the lick below to start shopping:</p>
			          <a class="btn" href="#">Visit Idumota</a>
		      </div>
          <div class="col-sm-3">
			        <h2>ADD YOUR SHOP</h2>
			        <p>Let the world know what you have, add your shop on that platform</p>
			        <a class="btn" href="#">Add shop</a>
		      </div>
		    <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
        
      