{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<section class="container">
  <div class="row">
{{range .}}
      <figure class="col-sm-3">
         <a href="/shops/{{.ID}}"><img src="{{if .ImageURL}}{{.ImageURL}}{{else}}https://maps.googleapis.com/maps/api/streetview?size=400x400&location=40.720032,-73.988354&fov=90&heading=235&pitch=10&key=%20AIzaSyAV3qAYIEuBGzPlmmi92dUmrp8g4noIm2s{{end}}"></a>
         <h4><a href="/shops/{{.ID}}">{{.Title}}</a></h4>
         <p>{{.Author}}</p>
      </figure>
{{else}}
  </div>
</section>
<p>No shops found.</p>
{{end}}

<a href="/shops/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add shop</span>
</a>

