{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<section class="container">
  <div class="row">
{{range .}}
      <figure class="col-sm-3">
         <a href="/shops/{{.ID}}"><img src="{{if .ImageURL}}{{.ImageURL}}{{else}}https://placekitten.com/g/200/300{{end}}"></a>
         <h4><a href="/shops/{{.ID}}">{{.Title}}</a></h4>
         <p>{{.Author}}</p>
      </figure>
{{else}}
  </div>
</section>
<p>No shops found.</p>
{{end}}
<a href="/shops/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add shop</span>
</a>
