html, body {
  margin: 0;
  background-color: #1c1c1c;
  color: white
}
h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.col-sm-3 {
	position: relative;
	min-height: 34px;
	padding-right: 15px;
	padding-left: 15px;
}

a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:#ffa800; background-color:transparent; text-decoration:underline}
a:active  {color:green; background-color:transparent; text-decoration:underline}

a.btn:hover {
  background:#ffa800;
  color:#000;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
  margin: 0px;
}

.mini-navbar{
  background-color: #262626;
}
.container {
	width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 150px;
  margin-left: 0px;
}

header {
  padding: 2px 0;
  margin: 0;
}

header h1 {
  font-weight: 700;
  margin: 0;
  color: #ffa800;
}

.col-sm-3 #home {
  padding: 10px 20px 0px 0px; 
  display: flex;
  text-align: center;
  float: left;
  color: #1c1c1c;
}

.col-sm-3 #log {
  padding: 10px 20px 0px 0px; 
  display: flex;
  float: right;
  color: #1c1c1c;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/static/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 2px 20px 2px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}


.jumbotron {
   margin: 0;
  text-align: center;
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url('/static/css/jewelry_market_by_mischiru.jpg');
  background-size: cover;
  text-shadow: 0.6px 0.6px 0.6px #000000;
}

.jumbotron h1 {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  margin: 0;
}

.jumbotron p {
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: bolder;
  font-size: 23px;
}

.jumbotron .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}


.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.supporting p {
  color: #efefef;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.supporting .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin-bottom: 15px;
  display: inline-block;
  
}

.col-sm-3.list{
  height: 220px
}


.col-sm-3 #cat {
  color: white;
  font-family:  Tahoma,'Segoe UI', Geneva, Verdana, sans-serif ;
  font-size: 12px;
  font-weight: bold
}

.feature {
  text-align: center;
  height: 300px;
  display: flex;
  align-items: center;
  background: url("Fruit-line-Ogbete-Market-Enugu.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  text-shadow: 0.6px 0.6px 0.6px #000000;
}

.feature h2 {
  color: #ffa800;
  font-size: 90px;
  font-weight: 500;
  margin:0;
}

section .row img {
  margin: 5px 0 3px;
  width: 100%;
  max-height: 150px;
}

/*
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

