{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<section class="container">
   <h4 id="shoptitle">{{.Dshop.Title}}</h4>
{{if .IsUser }}
<div class="btn-group">
  <form action="/shops/{{.Dshop.ID}}:delete" method="post">
    <a href="/shops/{{.Dshop.ID}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      <span>Edit shop</span>
    </a>
    <button class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      <span>Delete shop</span>
    </button>
  </form>
</div>
{{end}}
<div class="media">
  <div class="media-left">
    <img style="width: 800px" src="{{if .Dshop.ImageURL}}{{.Dshop.ImageURL}}{{else}}https://maps.googleapis.com/maps/api/streetview?size=400x400&location=40.720032,-73.988354&fov=90&heading=235&pitch=10&key=%20AIzaSyAV3qAYIEuBGzPlmmi92dUmrp8g4noIm2s{{end}}">
  </div>
  <div class="media-body">
 
    <h5>Shop Owner: {{if .Dshop.Author}}{{.Dshop.Author}}{{else}}unknown{{end}}</h5>
    <p>{{.Dshop.Description}}</p>
    <small>Added by {{.Dshop.CreatedByDisplayName}}</small>
  </div>
</div>
</section>
