{{/*
  Copyright 2015 Google Inc. All rights reserved.
  Use of this source code is governed by the Apache 2.0
  license that can be found in the LICENSE file.
*/}}
<section class="container">
  <div class="row">
{{range .Dshops}}
      <figure class="col-sm-3 list">
         <a href="/shops/{{.ID}}"><img src="{{if .ImageURL}}{{.ImageURL}}{{else}}/static/css/jewelry_market_by_mischiru.jpg{{end}}"></a>
         <h4><a href="/shops/{{.ID}}">{{.Title}}</a></h4>
         <p>{{.Category}}</p>
      </figure>
{{else}}
  </div>
</section>
<p>No shops found.</p>
{{end}}

<!--p id="log"-->
    
<a href="{{.SignupURL}}" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add shop</span>
</a>


<div class="clearfix"></div>
